<h1>session</h1>

<form action="/api/auth/signin" class="form-session" method="post">
    <input type="text" name="email" class="input-sesion">
    <input type="password" name="password" class="input-sesion">
    <button class="star-session">iniciar</button>
</form>