<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="page_container">
      <div class="container">
        <div class="cont_left">
          <div class="login">Register</div>
          <div class="infLog">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In repudiandae officia provident labore nam aspernatur eaque aperiam maiores quas natus ab cumque obcaecati voluptates adipisci, fuga praesentium neque numquam ipsum.
            Architecto doloribus odio labore fugiat, ab, cumque inventore laboriosam nostrum iste molestias laborum illo quo magni iure ut impedit maxime ad quae aperiam neque quibusdam? Ut eligendi beatae praesentium illum.
          </div>
        </div>

        <div class="cont_right">
          <form action="/api/auth/signup" method="post" class="form">
            <label for="username">User Name</label>
            <input type="text" name="username" class="input" >
            <label for="email">Email</label>
            <input type="text" name="email" class="input">
            <label for="password">Password</label>
            <input type="password" name="password" class="input">
            <button class="enviar">Signup</button>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
