<h1>registrar</h1>
<form action="/api/auth/signup" method="post">
    <input type="text" name="username">
    <input type="email" name="email">
    <input type="password" name="password">
    
    <button>Enviar</button>
</form>